.place-card__paragaph {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.67;
}

.place-card__paragaph {
  margin-top: 24px;
}

.place-card__paragaph:first-child {
  margin-top: 0;
}

@media screen and (max-width: 768px) {
.place-card__paragaph {
    font-size: 16px;
    line-height: 1.62;
  }
}
