.content__section_margin_big {
  /* 148px -> 48px -> 24px -> 16px */
  margin-left: 148px;
  margin-right: 148px;
}

@media screen and (max-width: 1024px) {
  .content__section_margin_big {
    margin-left: 48px;
    margin-right: 48px;
  }
}

@media screen and (max-width: 768px) {
  .content__section_margin_big {
    margin-left: 24px;
    margin-right: 24px;
  }
}

@media screen and (max-width: 640px) {
  .content__section_margin_big {
    margin-left: 16px;
    margin-right: 16px;
  }
}
