@import url('../vendor/normalize.css');
@import url('../blocks/page/page.css');

@import url('../blocks/content/content.css');
@import url('../blocks/content/__header/content__header.css');
@import url('../blocks/content/__lead/content__lead.css');
@import url('../blocks/content/__intro/content__intro.css');
@import url('../blocks/content/__photo-grid/content__photo-grid.css');
@import url('../blocks/content/__places/content__places.css');

@import url('../blocks/header/header.css');
@import url('../blocks/header/__lang-link-container/header__lang-link-container.css');
@import url('../blocks/header/__logo/header__logo.css');
@import url('../blocks/header/__lang-link-element/header__lang-link-element.css');
@import url('../blocks/header/__lang-link/header__lang-link.css');
@import url('../blocks/header/__lang-link/_active/header__lang-link_active.css');

@import url('../blocks/lead/lead.css');
@import url('../blocks/lead/__title/lead__title.css');
@import url('../blocks/lead/__subtitle/lead__subtitle.css');
@import url('../blocks/lead/__image/lead__image.css');
@import url('../blocks/lead/__caption/lead__caption.css');

@import url('../blocks/intro/intro.css');
@import url('../blocks/intro/__title/intro__title.css');
@import url('../blocks/intro/__text/intro__text.css');
@import url('../blocks/intro/__list/intro__list.css');
@import url('../blocks/intro/__list-item/intro__list-item.css');

@import url('../blocks/photo-grid/photo-grid.css');
@import url('../blocks/photo-grid/__item/photo-grid__item.css');

@import url('../blocks/places/__place/places__place.css');

@import url('../blocks/place-card/place-card.css');
@import url('../blocks/place-card/__title/place-card__title.css');
@import url('../blocks/place-card/__image/place-card__image.css');
@import url('../blocks/place-card/__website/place-card__website.css');
@import url('../blocks/place-card/__paragaph-container/place-card__paragaph-container.css');
@import url('../blocks/place-card/__paragaph/place-card__paragaph.css');

.content__cover {
  margin: 0 auto;
}

.cover {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('../images/cover.jpg');
  background-size: cover;
  width: min(100%, 1184px);
  height: 0;
  padding-bottom: 57.8%;
  position: relative;
}

.cover__title {
  width: 560px;
  margin: 245px 0 0 0;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  text-align: center;
  z-index: 1;
}

.cover__subtitle {
  margin: 32px 0 0 0;
  width: 360px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  z-index: 1;
}

.cover__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2a2c2f;
  opacity: 0.3;
}

