.place-card {
  display: grid;
  gap: 48px 40px;
  grid-template-columns: 460px auto;
}

@media screen and (max-width: 1024px) {
  .place-card {
    gap: 48px 32px;
    grid-template-columns: 440px auto;
  }
}

@media screen and (max-width: 768px) {
  .place-card {
    gap: 48px 28px;
    grid-template-columns: 340px auto;
  }
}

@media screen and (max-width: 640px) {
  .place-card {
    grid-template-columns: 1fr;
    gap: 32px;
  }
}
