.content__lead {
  margin: 0 148px 0px;
}

@media screen and (max-width: 1024px) {
  .content__lead {
    margin: 48px 48px 0 48px;
  }
}

@media screen and (max-width: 768px) {
  .content__lead {
    margin: 48px 0 0 0;
  }
}
